 *{
   box-sizing: border-box;
   margin: 0;
   padding:0;
 }

 body{
    background:  #8bebdb;
    min-height: 100vh;
 }
 
 #name {
   text-align: center;
   font-size: 3em;
   margin: 5%;
  text-decoration: underline;
 }

.button-container #choice{
  font-size: 1.5em;
  color: white;
  padding: 10px;
  margin-bottom: 8px;
  background: linear-gradient(30deg,#00ffff,#ffff33,#00ff40);
  border-radius: 10px;
  box-shadow: 20px 10px 20px rgb(146, 141, 141);
  width: 50%;
  margin-left: 50%;
  transform: translateX(-50%);
  font-weight: 800;
  text-shadow: 2px 2px 8px rgb(0, 0, 0);
}

.button-container .choice-buttons{
    display: grid;
    gap: 15px;
}

.button-container button{
  background: transparent;
  cursor: pointer;
  place-self: center;
  transition: all 0.8s;
  border-style: none;
}

.button-container img{
  border-radius: 50%;
  height: 100px;
  width: 100px;
  padding: 5px;
  border:  1px solid ;
}

.button-rock{
  grid-column: 1 / span 1;
}

.button-paper{
  grid-column: 3 / span 1;
}

.button-scissor{
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}


.button-container button:hover{
    background-color: rgb(255, 255, 255);
    transform: scale(1.5);
    border-radius: 20%;
}

 

.res{
    text-align: center;
    font-size: 1.6rem;
    margin: 20px;
    padding: 10px;
    border: 2px solid white;
    box-shadow: 10px 10px 10px rgb(69, 105, 224);
    width: 50%;
    margin-left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
}


.wins{
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 800;
    background: white;
}

.reset{
  position: relative;
  margin-top: 5%;
  border-radius: 20px;
  font-size: 2em;
  background: black;
  color:white;
  box-shadow: 1px 10px 10px rgb(14, 13, 13);
  margin-left: 50%;
  transform: translateX(-50%);
  padding: 7px;
}

.reset .tooltiptext{
    visibility: hidden;
    z-index: 1;
    color: #fff;
    background: black;
    padding: 5px;
    position: absolute;
    border-radius: 5px;
}

.reset:hover .tooltiptext{
  visibility:visible;
}


@media (max-width: 320px){

  .button-container .choice-buttons{
    margin: 10% 0;
    display: flex;
    flex-direction: column;
  }

}

